@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Unica+One&display=swap');

@import 'breackpoints.scss';
@import 'navigation.scss';
@import 'products.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background: #f8f8f8;
  line-height: 1.375;
  font-weight: 400;
}

.page {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0 10px;

  @include md($desktop-md) {
    padding: 0 20px;
  }
}
